/image_move/JavaApplication9/nbproject/private/
/image_move/JavaApplication9/build/
/image_move/MoveImage/nbproject/private/
/image_move/MoveImage/build/
/ImageViewer-master/ImageViewer-master/nbproject/private/